body {
	background-color: black;
	width: 80%;
	margin:0 auto;
	text-align: center;
}

h1 {
	background-color: red;
	padding: 30px;
	font-size: 60px;
	font-weight: bold;
}

body p {
	background-color: red;
	margin-top: 20px;
	padding: 30px;
	line-height: 35px;
	font-size: 20px;
	font-weight: bold;
}

#randomNumber {
	background-color: red;
	margin: 20px 0 0 10%;
	width: 30%;
	height: 80px;
	float: left;
	font-size: 25px;
	font-weight: bold;
	line-height: 35px;
}

#winloss {
	background-color: red;
	margin: 20px 10% 0 0;
	width: 30%;
	float:right;
	font-weight: bold;
	font-size: 25px;
	line-height: 35px;
	height: 80px;
}

.cleardiv {
	clear:left;
}

.image img {
	float: left;
	height: 250px;
	width: 225px;
	margin: 20px;
	border: 2px dotted green;
	border-radius: 10px;
}

#total {
	background-color: red;
	margin: 20px;
	font-weight: bold;
	font-size: 25px;
	line-height: 35px;
	height: 80px;
}

